#page-auth {
  display: block;
  align-items: stretch;
  height: 100vh;
}

.toggles {
  position: absolute;
  margin-left: 75%;
  margin-top: 5pt;
}

aside {
  display: none;
}
.mobile-home {
  background: var(--upper-gradient);
  color: var(--bg-darker);
  display: block;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  padding: 15pt;
  .home-illustration {
    position: absolute;
    margin-left: 50vw;
    top: 10vh;
    width: 154px;
  }
  .home-info {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20pt;
    z-index: 10;
    img {
      width: 154px;
    }
    strong {
      margin-top: 10pt;
      font: 700 24pt "Poppins", sans-serif;
      line-height: 30pt;
    }
    p {
      margin-top: 10pt;
      font-size: 18pt;
      line-height: 20pt;
    }
  }
}
.main-home {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 24px 10pt;
  background: var(--lower-gradient);
  height: 70vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  text-align: center;

  .logo {
    display: none;
  }
  form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background: var(--bg-lighter);
      color: var(--color);
      border: 1px solid var(--border);
    }

    button {
      margin-top: 16px;
    }

    button,
    input {
      width: 100%;
    }
  }
}

.create-room {
  margin-top: 32px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
    margin-left: 5px;
  }

  &:hover {
    filter: brightness(0.9);
  }
}
.separator {
  font-size: 14px;
  color: #b0b0c0;

  margin: 24px 0;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    background: #b0b0c0;
    margin-right: 16px;
  }

  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #b0b0c0;
    margin-left: 16px;
  }
}

@media (min-width: 430px) {
  #page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
  }
  .toggles {
    position: absolute;
    margin-left: 85%;
  }
  .mobile-home {
    display: none;
  }
  aside {
    background: var(--gradient);
    color: var(--bg-lighter);
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px clamp(20px, 40px, 80px);

    img {
      max-width: 320px;
    }

    strong {
      margin-top: 10pt;
      font: 700 24pt "Poppins", sans-serif;
      line-height: 30pt;
    }
    p {
      margin-top: 10pt;
      line-height: 24pt;
      font-size: 20pt;
      color: var(--bg-darker);
    }
  }
  .main-home {
    width: 55vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    background: var(--bg);
  }
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
    .logo {
      display: flex;
      align-self: center;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--bg-lighter);
        color: var(--color);
        border: 1px solid var(--border);
      }

      & + .input {
        height: 1pt;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
  .separator {
    font-size: 14px;
    color: #b0b0c0;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #b0b0c0;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #b0b0c0;
      margin-left: 16px;
    }
  }
}
