#new-room {
  display: block;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

aside {
  display: none;
}

.new-room {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 24px 10pt;
  background: var(--gradient);
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  text-align: center;

  .new-room-mobile-logo {
    position: fixed;
    top: 35pt;
    left: 15pt;
    width: 154px;
  }
  .new-room-mobile-img {
    position: absolute;
    margin-left: 50vw;
    top: 10vh;
    width: 154px;
  }

  .logo {
    display: none;
  }

  h2 {
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: "Poppins", sans-serif;
    color: var(--color);
  }

  form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background: var(--bg-lighter);
      color: var(--color);
      border: 1px solid var(--border);
    }

    button {
      margin-top: 16px;
    }

    button,
    input {
      width: 100%;
    }
  }
  .anonymous-permission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2pt;
    span {
      font-size: 12pt;
      color: #e8e8e8;
    }
    .checkbox {
      width: 20px;
    }
  }

  p {
    font-size: 14px;
    color: #e8e8e8;
    margin-top: 16px;
    a {
      color: #f4a4ff;
    }
  }
}

@media (min-width: 430px) {
  #new-room {
    display: flex;
    align-items: stretch;
    height: 100vh;
  }

  aside {
    background: var(--gradient);
    color: var(--bg-darker);
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px clamp(20px, 40px, 80px);

    img {
      max-width: 320px;
    }

    strong {
      margin-top: 10pt;
      font: 700 24pt "Poppins", sans-serif;
      line-height: 30pt;
    }
    p {
      margin-top: 10pt;
      line-height: 24pt;
      font-size: 20pt;
      color: var(--bg-darker);
    }
  }
  .new-room {
    width: 55vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    background: var(--bg);
  }
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
    .logo {
      display: flex;
      align-self: center;
    }
    .new-room-mobile-img,
    .new-room-mobile-logo {
      display: none;
    }
    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: "Poppins", sans-serif;
      color: var(--color);
    }
    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--bg-lighter);
        color: var(--color);
        border: 1px solid var(--border);
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
      .anonymous-permission {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 12pt;
          color: #737380;
        }
        .checkbox {
          width: 20px;
        }
      }
    }
    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }
}
